asgiref==3.11.1
awscrt==0.33.0
Babel==2.18.0
Beaker==1.14.1
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
colorama==0.4.6
ConfigParser==7.2.0
cryptography==48.0.0
cx_Oracle==8.3.0
Cython==3.2.5
dl==0.1.0
docutils==0.23
dogpile.core==0.4.1
filelock==3.29.0
greenlet==3.5.1
grpc_reflection==1.0.0
h2==4.3.0
HTMLParser==0.0.2
importlib_resources==7.1.0
inflect==7.5.0
ini2toml==0.15
ipython==9.14.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
lingua==4.16.2
path.py==12.5.0
pyodide==0.0.2
pyOpenSSL==26.2.0
pysqlcipher3==1.2.0
pytest==9.0.3
redis==8.0.0
simplejson==4.1.1
Sphinx==9.1.0
sqlcipher3==0.6.2
thread==2.0.6
trove_classifiers==2026.5.22.10
watchdog==6.0.0
xmlrpclib==1.0.1
xx==4.0.0
